In [81]:
import pandas as pd

Read The File

In [82]:
df=pd.read_excel("Applicants.xlsx")
df.head(5)

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,ID,Applicant Name,Status ID,Role ID,Level ID,Years of experience,Contact number,emailAddress,Technical interview date,Interviewers names,Board interview date,Created By,Created,Modified By,Modified,fit_to_account
0,2798,SAMAAN sadek,3,6.0,2.0,2,0000-595-4035,samaan.sadek@somedomain.com,NaN,NaN,NaN,"Abdelgaleel, Ahmad",4/17/2024 11:58 AM,"Fawzy Bayomie, Mohamed",4/19/2024 10:07 AM,[]
1,2797,Hegazy Aboelaref,1,11.0,1.0,1,0110-020-1057,hegazy.aboelaref@somedomain.com,NaN,NaN,NaN,"Abdelgaleel, Ahmad",4/15/2024 9:31 AM,"Abdelgaleel, Ahmad",4/15/2024 9:31 AM,[]
2,2796,Hamdy Abu-Bakr,11,9.0,3.0,7,0122-547-1769,hamdy.abu-bakr@somedomain.com,NaN,NaN,NaN,"Abdelgaleel, Ahmad",4/14/2024 4:50 PM,"Fawzy Bayomie, Mohamed",4/19/2024 10:09 AM,"Alrajhi,Tawuniya"
3,2795,SUHIL Wahbi Aghapy,11,9.0,3.0,5,0101-044-4294,suhil.wahbi@somedomain.com,NaN,NaN,NaN,"Abdelgaleel, Ahmad",4/14/2024 3:44 PM,"Fawzy Bayomie, Mohamed",4/19/2024 10:09 AM,"Alrajhi,Tawuniya"
4,2794,Rawan MAGDY,3,10.0,2.0,5,0100-091-2923,rawan.magdy@somedomain.com,NaN,NaN,NaN,"ibrahim, ahmed farouk",2024-11-04 12:42:00,"ibrahim, ahmed farouk",2024-11-04 12:46:00,[]

Check the data type for each Column

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1900 non-null   int64
 1   Applicant Name            1899 non-null   object
 2   Status ID                 1900 non-null   int64
 3   Role ID                   1475 non-null   float64
 4   Level ID                  1639 non-null   float64
 5   Years of experience       1858 non-null   object
 6   Contact number            1762 non-null   object
 7   emailAddress              1900 non-null   object
 8   Technical interview date  658 non-null    object
 9   Interviewers names        557 non-null    object
 10  Board interview date      144 non-null    object
 11  Created By                1900 non-null   object
 12  Created                   1900 non-null   object
 13  Modified By               1900 non-null   object
 14  Modified                  1900 non-null   object
 15  fit_to_account            1900 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 237.6+ KB

Check num of Null Value for Each Column

In [84]:
df.isnull().sum()

ID                             0
Applicant Name                 1
Status ID                      0
Role ID                      425
Level ID                     261
Years of experience           42
Contact number               138
emailAddress                   0
Technical interview date    1242
Interviewers names          1343
Board interview date        1756
Created By                     0
Created                        0
Modified By                    0
Modified                       0
fit_to_account                 0
dtype: int64

 Replace hyphens with an empty string

In [85]:
df['Contact number'] = df['Contact number'].str.replace('-', '')

Reorder The names

In [86]:
df['first_part'] = df['Modified By'].str.split(',').str[0]  # Part before the comma
df['last_part'] = df['Modified By'].str.split(',').str[1].str.strip()  # Part after the comma

# Rejoin the parts in "First Last" format
df['Modified By'] = df['last_part'] + ' ' + df['first_part']  # Rejoin in desired format

In [87]:
df['first_part1'] = df['Created By'].str.split(',').str[0]  # Part before the comma
df['last_part2'] = df['Created By'].str.split(',').str[1].str.strip()  # Part after the comma

# Rejoin the parts in "First Last" format
df['Created By'] = df['last_part2'] + ' ' + df['first_part1']  # Rejoin in desired format

In [88]:
df.drop(columns=['last_part', 'first_part', 'first_part1', 'last_part2'], inplace=True)

--------------------------------------------------------------------------------

Convert Data type from Object To DateTime

In [89]:
df['Technical interview date'] = pd.to_datetime(df['Technical interview date'])
df['Board interview date'] = pd.to_datetime(df['Board interview date'])
df['Modified'] = pd.to_datetime(df['Modified'])
df['Created'] = pd.to_datetime(df['Created'])

<ipython-input-89-e3908faee132>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Board interview date'] = pd.to_datetime(df['Board interview date'])

In [90]:
df['Modified'] = df['Modified'].dt.strftime('%m/%d/%Y  %H:%M')  # 24-hour format
df['Technical interview date'] =  df['Technical interview date'].dt.strftime('%m/%d/%Y  %H:%M')
df['Board interview date'] = df['Board interview date'].dt.strftime('%m/%d/%Y  %H:%M')
df['Created'] = df['Created'].dt.strftime('%m/%d/%Y  %H:%M')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1900 non-null   int64
 1   Applicant Name            1899 non-null   object
 2   Status ID                 1900 non-null   int64
 3   Role ID                   1475 non-null   float64
 4   Level ID                  1639 non-null   float64
 5   Years of experience       1858 non-null   object
 6   Contact number            1762 non-null   object
 7   emailAddress              1900 non-null   object
 8   Technical interview date  658 non-null    object
 9   Interviewers names        557 non-null    object
 10  Board interview date      144 non-null    object
 11  Created By                1900 non-null   object
 12  Created                   1900 non-null   object
 13  Modified By               1900 non-null   object
 14  Modified                  1900 non-null   object
 15  fit_to_account            1900 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 237.6+ KB

--------------------------------------------------------------------------------

Fill Numeric and Str Null Value

In [92]:
df['fit_to_account'] = df['fit_to_account'].replace("[]", "No fitting to any account")
df['Applicant Name'] = df['Applicant Name'].fillna("Null Applicant Name Value")
df['Role ID'] = df['Role ID'].fillna(0000)  # Fill NaN with the integer value 000000
df['Level ID'] = df['Level ID'].fillna(0000)
df['Years of experience'] = df['Years of experience'].fillna(0000)
df['Contact number'] = df['Contact number'].fillna(00000000000)
df['Interviewers names'] = df['Interviewers names'].fillna("Null Interviewers names Value")

In [94]:
df.head(5)

,ID,Applicant Name,Status ID,Role ID,Level ID,Years of experience,Contact number,emailAddress,Technical interview date,Interviewers names,Board interview date,Created By,Created,Modified By,Modified,fit_to_account
0,2798,SAMAAN sadek,3,6.0,2.0,2,00005954035,samaan.sadek@somedomain.com,NaN,Null Interviewers names Value,NaN,Ahmad Abdelgaleel,04/17/2024 11:58,Mohamed Fawzy Bayomie,04/19/2024 10:07,No fitting to any account
1,2797,Hegazy Aboelaref,1,11.0,1.0,1,01100201057,hegazy.aboelaref@somedomain.com,NaN,Null Interviewers names Value,NaN,Ahmad Abdelgaleel,04/15/2024 09:31,Ahmad Abdelgaleel,04/15/2024 09:31,No fitting to any account
2,2796,Hamdy Abu-Bakr,11,9.0,3.0,7,01225471769,hamdy.abu-bakr@somedomain.com,NaN,Null Interviewers names Value,NaN,Ahmad Abdelgaleel,04/14/2024 16:50,Mohamed Fawzy Bayomie,04/19/2024 10:09,"Alrajhi,Tawuniya"
3,2795,SUHIL Wahbi Aghapy,11,9.0,3.0,5,01010444294,suhil.wahbi@somedomain.com,NaN,Null Interviewers names Value,NaN,Ahmad Abdelgaleel,04/14/2024 15:44,Mohamed Fawzy Bayomie,04/19/2024 10:09,"Alrajhi,Tawuniya"
4,2794,Rawan MAGDY,3,10.0,2.0,5,01000912923,rawan.magdy@somedomain.com,NaN,Null Interviewers names Value,NaN,ahmed farouk ibrahim,11/04/2024 12:42,ahmed farouk ibrahim,11/04/2024 12:46,No fitting to any account

Fill Datetime Null Values With default Value "2000-01-01 00:00:00"

In [95]:
df['Technical interview date'] = df['Technical interview date'].fillna("01/01/2000 00:00")
df['Board interview date'] = df['Board interview date'].fillna("01/01/2000 00:00")

In [97]:
df.head(5)

,ID,Applicant Name,Status ID,Role ID,Level ID,Years of experience,Contact number,emailAddress,Technical interview date,Interviewers names,Board interview date,Created By,Created,Modified By,Modified,fit_to_account
0,2798,SAMAAN sadek,3,6.0,2.0,2,00005954035,samaan.sadek@somedomain.com,01/01/2000 00:00,Null Interviewers names Value,01/01/2000 00:00,Ahmad Abdelgaleel,04/17/2024 11:58,Mohamed Fawzy Bayomie,04/19/2024 10:07,No fitting to any account
1,2797,Hegazy Aboelaref,1,11.0,1.0,1,01100201057,hegazy.aboelaref@somedomain.com,01/01/2000 00:00,Null Interviewers names Value,01/01/2000 00:00,Ahmad Abdelgaleel,04/15/2024 09:31,Ahmad Abdelgaleel,04/15/2024 09:31,No fitting to any account
2,2796,Hamdy Abu-Bakr,11,9.0,3.0,7,01225471769,hamdy.abu-bakr@somedomain.com,01/01/2000 00:00,Null Interviewers names Value,01/01/2000 00:00,Ahmad Abdelgaleel,04/14/2024 16:50,Mohamed Fawzy Bayomie,04/19/2024 10:09,"Alrajhi,Tawuniya"
3,2795,SUHIL Wahbi Aghapy,11,9.0,3.0,5,01010444294,suhil.wahbi@somedomain.com,01/01/2000 00:00,Null Interviewers names Value,01/01/2000 00:00,Ahmad Abdelgaleel,04/14/2024 15:44,Mohamed Fawzy Bayomie,04/19/2024 10:09,"Alrajhi,Tawuniya"
4,2794,Rawan MAGDY,3,10.0,2.0,5,01000912923,rawan.magdy@somedomain.com,01/01/2000 00:00,Null Interviewers names Value,01/01/2000 00:00,ahmed farouk ibrahim,11/04/2024 12:42,ahmed farouk ibrahim,11/04/2024 12:46,No fitting to any account

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1900 non-null   int64
 1   Applicant Name            1900 non-null   object
 2   Status ID                 1900 non-null   int64
 3   Role ID                   1900 non-null   float64
 4   Level ID                  1900 non-null   float64
 5   Years of experience       1900 non-null   object
 6   Contact number            1900 non-null   object
 7   emailAddress              1900 non-null   object
 8   Technical interview date  1900 non-null   object
 9   Interviewers names        1900 non-null   object
 10  Board interview date      1900 non-null   object
 11  Created By                1900 non-null   object
 12  Created                   1900 non-null   object
 13  Modified By               1900 non-null   object
 14  Modified                  1900 non-null   object
 15  fit_to_account            1900 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 237.6+ KB

In [99]:
file_path = r"Applicants1.xlsx"


try:
    df.to_excel(file_path, index=False)
    print("File saved successfully.")
except Exception as e:
    print("Error saving file:", e)

File saved successfully.